.horizontal-line{
    flex-grow: 1;	/* Line takes up the remaining space */
    height: 1px;	/* Thickness of the line */
    background-color: #daa520;	/* Line color */
	margin-top: 20px;
	margin-bottom: 20px;
}
.horizontal-line2{
    flex-grow: 1;	/* Line takes up the remaining space */
    height: 1px;	/* Thickness of the line */
    background-color: #D3D3D3;	/* Line color */
	margin-top: 15px;
	margin-bottom: 15px;
}
.heading1{

	font-size: 32px;
}
.heading2{

	font-size: 20px;
	font-weight: 700;
}

.checkout-head{

	background-color: #FDFAF5;
	padding: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.checkout-container{

	padding: 30px;
	display: flex;
	flex-direction: column;
}

.address-form{

	margin-top: 10px;
}

.table{

    border-collapse: separate; /* Ensures spacing works */
    border-spacing: 10px;
}
.table thead tr th{
	border: none;
}
.table tbody tr i{
	font-size: 24px;
	color: #ccc;
}
.table tbody tr i:hover{
	color: #FF0000;
}
.cart-product{

	display: flex;
	align-items: flex-start; /* Align items at the top */
    gap: 10px; /* Add space between the image and text */
}
.cart-product img{
	width: 200px;
	height: 200px;
}
.product-info {
    display: flex;
    flex-direction: column; /* Stack title and brand vertically */
    justify-content: center;
}
.product-title a{
	color: #000000;
}
.product-title a:hover{
	color: #000000;
}
.product-title {
    font-weight: bold; /* Make title stand out */
    margin-bottom: 5px; /* Space between title and brand */
}
.product-brand {
    font-size: 0.9em; /* Slightly smaller text for brand */
    color: #555; /* Muted color for brand */
}
.quantity-selector {
    display: flex;
    font-size: 18px;
    gap: 8px;
    border: 1px solid black;
}

.invoice-container{

	display: flex;
	flex-direction: column;
	width: 600px;
}
.price-row{
	display: flex;
	justify-content: space-between;
}
.price-row span:first-child{
	text-align: left;
}
.price-row span:last-child{
	text-align: right;
}
.invoice-container button{
	margin-top: 20px;
	height: 40px;
	border: none;
	background-color: #daa520;
	transition: background-color 0.2s ease;
}
.invoice-container button:hover{
	cursor: pointer;
	background-color: #b8860b;
}
.invoice-container button:focus, .invoice-container button:active{
	border: none;
	outline: none;
}